.app {
    width: 600px;
    height: auto;
}

.accord {
    &__news {
        width: 300px;
        height: 200px;
    }
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 30px;
    background-color: rgba($color: #0000aa, $alpha: 0.4);
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 50px 0 90px;
    &__info {
        width: 18px;
        height: 18px;
        border:  1px solid black;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;       
            &__disable {
                display: block;
                width: 14px;
                height: 2px;
                background-color: black;
                transition: 0.3s all;
                transform: translateX(50%);
            }
            &__enable{
                display: block;
                width: 14px;
                height: 2px;
                background-color: black;
                transition: 0.3s all;
                transform: translateX(-50%);
                // transform: rotate(90deg);
            }
                 
        

    }


}